*{
	padding: 0;
	margin: 0;
}

.header {
	width: 100%;
}

nav {
	background-color: #928E8D;
	height: 35px;
}

nav ul li{
	list-style-type: none;
	width: 100px;
	float: left;
	text-align: center;
}

li a{
	text-decoration: none;
	line-height: 35px;
	color: #FFFFFF;
	display: block;
}

li a:hover{
	background-color: #0775d3;
	color: #FFFFFF;
}

#logout-button{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 35px;
	text-align: center;	
	display: block;
	color: #FFFFFF;
	background-color: #928E8D;
	border: none;
	cursor: pointer;
}

#logout-button:hover{
	background-color: #0775d3;
	color: #FFFFFF;
}

.container {
	width: 100%;
}

#new-collab {
	position: absolute;
	top: 9%;
	left: 1%;
	border: 1px solid gray; 
	border-radius: 10px; 
	font-size: 0.8em;
	width: 120px; 
	padding: 5px 10px; 
	color: #FFFFFF;
	background: #0775d3;
	cursor: pointer;
}	

#new-collab:hover{
	background-color: #00cc00;
	color: #FFFFFF;
}

table {	
	position: absolute;
	top: 20%;
	left: 2%;
	border-collapse: collapse;
	border: 1px solid black;
	width: 95%;
	text-align: center;
}

th {
	border-bottom: 1px solid #928E8D;
	color: #FFFFFF;
	background: #0775d3;
	padding: 10px;
}

tr:nth-child(even) {
	background: #FFFFFF
}

tr:nth-child(odd) {
	background: #EDEDED
}

table tr:nth-child(2) td:nth-child(11) {
   column-width: 100%;
}

label.error{
	display:block;
    width:100%;
    color: #ff8080;
}

#update-button{
	border: 1px solid gray;
	width: 30px; 
	color: #ffbf00;
}

#update-button:hover{
	background-color: #e0e0d1;
}

#delete-button{
	border: 1px solid gray;
	width:25px;
	color:#e60000;
}

#delete-button:hover{
	background-color: #e0e0d1;
}

.table tbody tr:nth-child(2) td:nth-child(11) {
   width: 50px;
}